@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100..900&display=swap');

:root{
  --base_color:#333;
  --base_font_size:0.75rem;
}

*{margin:0;padding:0;}
ol, ul, li{list-style: none;}
body{
  font-family: 'Noto Sans KR';
  font-size: var(--base_font_size);
  color: var(--base_color);
}
a{
  text-decoration: none;
  color: var(--base_color);
}